MyBlankPlugin/Intermediate/
MyBlankPlugin/Binaries/

MyEditorStandaloneWindow/Intermediate/
MyEditorStandaloneWindow/Binaries/

MyEditorToolbarButton/Intermediate/
MyEditorToolbarButton/Binaries/

NewAsset/Intermediate/
NewAsset/Binaries/