MyBlankPlugin/Intermediate/
MyBlankPlugin/Intermediate/Binaries/

MyEditorStandaloneWindow/Intermediate/
MyEditorStandaloneWindow/Intermediate/Binaries/

MyEditorToolbarButton/Intermediate/
MyEditorToolbarButton/Intermediate/Binaries/